.nav {
    grid-area: nav;
    padding-top: 10px;
    color: azure;
    border: 2px double black;
    width: 100%;
    border-radius: 5px;
}
.buttons{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    align-items: center;
}

.item a {
    color: #2F4F4F;
    text-decoration: none;
}

.item a.active{
    color: brown;
}
