.app-wrapper {
    display: grid;
    margin: 0 auto;
    width: auto;
    grid-template-areas:
    "header header"
    "nav content"
    "footer footer";
    grid-template-rows: 60px 2fr;
    grid-template-columns: 1fr 10fr;
    grid-column-gap: 10px;
    height: 100vh
}

.app-wrapper-content {
    padding-top: 15px;
    grid-area: content;
    margin-right: 10px;
}
