.main{
    margin: 5px;
    display: flex;
    align-items: center;
}

.main button{
    height: 25px;
}

.item{
    border: 1px double coral;
    padding:0px 5px
}

.selectedPage {
    font-weight: bold;
    border: 1px double coral;
    padding:0px 5px
}